<div id="page" class="hfeed site">

    <app-about-header></app-about-header>    

    <div data-elementor-type="wp-page" data-elementor-id="468" class="elementor elementor-468">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-9112458 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="9112458" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;https:\/\/www.youtube.com\/watch?v=ymXvYeVBbbw&quot;,&quot;background_video_start&quot;:131,&quot;background_video_end&quot;:142}">
            <div class="elementor-background-video-container elementor-hidden-phone">
                <div class="elementor-background-video-embed"></div>
            </div>
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-694a937"
                    data-id="694a937" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-8abd604 elementor-widget elementor-widget-heading"
                            data-id="8abd604" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7025a16"
                    data-id="7025a16" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-f495119 elementor-align-right elementor-icon-list--layout-inline elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                            data-id="f495119" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items elementor-inline-items">
                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <span class="elementor-icon-list-text">Home</span>
                                    </li>
                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <span class="elementor-icon-list-icon">
                                            <i aria-hidden="true" class="fas fa-chevron-right"></i> </span>
                                        <span class="elementor-icon-list-text">About Us</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-c537225 elementor-section-content-middle elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="c537225" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-92f2bdf"
                    data-id="92f2bdf" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b4c88bc elementor-widget elementor-widget-image"
                            data-id="b4c88bc" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img width="800" height="914" src="assets/images/meet-1345x1536.png"
                                    class="attachment-large size-large" alt="" loading="lazy" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-647c0c8"
                    data-id="647c0c8" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b03778c elementor-widget elementor-widget-heading"
                            data-id="b03778c" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Story About Us</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-dc545c1 elementor-widget elementor-widget-text-editor"
                            data-id="dc545c1" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                Shopbot was founded for the sole purpose of connecting Merchants to customers. All
                                lot of merchants have shops that customers can't get to or don't know about. That's 
                                were shopbot comes in. We also save your customers the stress of coming to your place thanks 
                                to our riders.  
                            </div>
                        </div>
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-9a362cd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="9a362cd" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4a8d0cc"
                                    data-id="4a8d0cc" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-614b58a jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                                            data-id="614b58a" data-element_type="widget"
                                            data-widget_type="jkit_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div
                                                    class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_468_1_63303a9ad5860">
                                                    <div class="jkit-icon-box-wrapper hover-from-left">
                                                        <div class="icon-box icon-box-body">
                                                            <h3 class="title">Our Vision</h3>
                                                            <p class="icon-box-description">Every merchants will have an customers available to them.</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e9f8f8c"
                                    data-id="e9f8f8c" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-01fc1b2 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                                            data-id="01fc1b2" data-element_type="widget"
                                            data-widget_type="jkit_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div
                                                    class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_468_2_63303a9ad9549">
                                                    <div class="jkit-icon-box-wrapper hover-from-left">
                                                        <div class="icon-box icon-box-body">
                                                            <h3 class="title">Our Mission</h3>
                                                            <p class="icon-box-description">Connect customers to merchants and deliver via riders./p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-5ba7a8b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="5ba7a8b" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-627f3f3"
                    data-id="627f3f3" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a2a2abf jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                            data-id="a2a2abf" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                            <div class="elementor-widget-container">
                                <div
                                    class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_468_3_63303a9ade9fe">
                                    <div class="jkit-icon-box-wrapper hover-from-left">
                                        <div class="icon-box icon-box-header elementor-animation-float">
                                            <div class="icon style-color"><i aria-hidden="true"
                                                    class="jki jki-car-2-light"></i></div>
                                        </div>
                                        <div class="icon-box icon-box-body">
                                            <h3 class="title">Become a Rider</h3>
                                            <p class="icon-box-description">Drive, deliver to our customers and earn more money when you become a rider on Shopbot.</p>
                                            <div class="icon-box-button ">
                                                <div class="btn-wrapper icon-position-after">
                                                    <a href="" class="icon-box-link">Start Earning<i aria-hidden="true"
                                                            class="fas fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a7cdd5f"
                    data-id="a7cdd5f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-83378a1 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                            data-id="83378a1" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                            <div class="elementor-widget-container">
                                <div
                                    class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_468_4_63303a9ae2966">
                                    <div class="jkit-icon-box-wrapper hover-from-left">
                                        <div class="icon-box icon-box-header elementor-animation-float">
                                            <div class="icon style-color"><i aria-hidden="true"
                                                    class="jki jki-store1-light"></i></div>
                                        </div>
                                        <div class="icon-box icon-box-body">
                                            <h3 class="title">Become a Merchant</h3>
                                            <p class="icon-box-description">Interested in growing your business and increasing profit. 
                                                Join us by creating a store on our platform.
                                            </p>
                                            <div class="icon-box-button ">
                                                <div class="btn-wrapper icon-position-after">
                                                    <a href="" class="icon-box-link">Sign Up Your Merchant<i
                                                            aria-hidden="true" class="fas fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5658206"
                    data-id="5658206" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-905b535 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                            data-id="905b535" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                            <div class="elementor-widget-container">
                                <div
                                    class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_468_5_63303a9ae6951">
                                    <div class="jkit-icon-box-wrapper hover-from-left">
                                        <div class="icon-box icon-box-header elementor-animation-float">
                                            <div class="icon style-color"><i aria-hidden="true"
                                                    class="jki jki-smartphone2-light"></i></div>
                                        </div>
                                        <div class="icon-box icon-box-body">
                                            <h3 class="title">Try The App</h3>
                                            <p class="icon-box-description">
                                                Install the shopbot app on your smartphone and enjoy the wonderful experience of shopping with us. 
                                            </p>
                                            <div class="icon-box-button ">
                                                <div class="btn-wrapper icon-position-after">
                                                    <a href="" class="icon-box-link">Get The App<i aria-hidden="true"
                                                            class="fas fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <app-about-footer></app-about-footer>
</div>