<section
    class="elementor-section elementor-top-section elementor-element elementor-element-d3f210c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="d3f210c" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b2f0821"
            data-id="b2f0821" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-07d0a70 elementor-widget elementor-widget-image"
                    data-id="07d0a70" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <a href="">
                            <img width="900" height="145" src="assets/images/logo2.png"
                                class="attachment-large size-large" alt="" loading="lazy" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-38df19f"
            data-id="38df19f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-a6efd01 elementor-widget elementor-widget-jkit_nav_menu"
                    data-id="a6efd01" data-element_type="widget" data-widget_type="jkit_nav_menu.default">
                    <div class="elementor-widget-container">
                        <div class="jeg-elementor-kit jkit-nav-menu break-point-tablet submenu-click-title jeg_module_11__632eec230a7f5"
                            data-item-indicator="&lt;i aria-hidden=&quot;true&quot; class=&quot;jki jki-chevron-down-line&quot;&gt;&lt;/i&gt;">
                            <!-- 
                                <button class="jkit-hamburger-menu"><i aria-hidden="true"
                                        class="jki jki-bars-solid"></i></button>
                                -->
                            <div class="jkit-menu-wrapper">
                                <div class="jkit-menu-container">
                                    <ul id="menu-menu-1"
                                        class="jkit-menu jkit-menu-direction-flex jkit-submenu-position-top">
                                        <li id="menu-item-698"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-11 menu-item-698">
                                            <a href="" aria-current="page">Become a rider</a>
                                        </li>
                                        <li id="menu-item-699"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-699">
                                            <a href="/partner"> Become a vendor</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="jkit-nav-identity-panel">
                                    <div class="jkit-nav-site-title"><a href="" class="jkit-nav-logo"><img
                                                src="assets/images/logo2.png"></a>
                                    </div>
                                    <button class="jkit-close-menu"><i aria-hidden="true"
                                            class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="jkit-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>