
    <section
    class="elementor-section elementor-top-section elementor-element elementor-element-0b5a69e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="0b5a69e" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a41d8c9"
            data-id="a41d8c9" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-4a2785c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="4a2785c" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-30a967b"
                            data-id="30a967b" data-element_type="column"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-61f4d23 elementor-widget elementor-widget-image"
                                    data-id="61f4d23" data-element_type="widget"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="800" height="145"
                                            src="assets/images/logo-white-1024x186.png"
                                            class="attachment-large size-large" alt="" loading="lazy" />
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-36535cc elementor-widget elementor-widget-text-editor"
                                    data-id="36535cc" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        At shopbot we connect customers and vendors. Get your product delivered to you via our riders.    
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-a17fcbe elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                    data-id="a17fcbe" data-element_type="widget"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">4th Floor, Transparency Building, Beside CBN, Oxbowlake Road, Yenegoa, Nigeria</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-phone-alt"></i> </span>
                                                <span class="elementor-icon-list-text">(+234) 7044121168</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-48946db"
                            data-id="48946db" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-3ddcada elementor-widget elementor-widget-heading"
                                    data-id="3ddcada" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h4 class="elementor-heading-title elementor-size-default">Quick Links
                                        </h4>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-6cbe8e3 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                    data-id="6cbe8e3" data-element_type="widget"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <a href="about-us">

                                                    <span class="elementor-icon-list-text">About Us</span>
                                                </a>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <a href="create-merchant">

                                                    <span class="elementor-icon-list-text">Become a
                                                        Vendor</span>
                                                </a>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <a href="#">

                                                    <span class="elementor-icon-list-text">Become a Rider</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d6c05d0"
                            data-id="d6c05d0" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-e2c6aab elementor-widget elementor-widget-heading"
                                    data-id="e2c6aab" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h4 class="elementor-heading-title elementor-size-default">Useful Links
                                        </h4>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-bf786b1 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                    data-id="bf786b1" data-element_type="widget"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <a href="privacy-policy">
                                                    <span class="elementor-icon-list-text">Privacy Policy</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a9cd15e"
                            data-id="a9cd15e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-435b08a elementor-widget elementor-widget-heading"
                                    data-id="435b08a" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h4 class="elementor-heading-title elementor-size-default">Download The
                                            App

                                        </h4>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ba1908a elementor-widget elementor-widget-text-editor"
                                    data-id="ba1908a" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        Our app is available on both IOS and Android.
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-50cda15 elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                    data-id="50cda15" data-element_type="widget"
                                    data-widget_type="icon.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-wrapper">
                                            <div class="elementor-icon">
                                                <a href="https://shopbot.page.link/dtvgEjzP8GwgP5w87">
                                                    <i aria-hidden="true" class="fab fa-apple"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-b67194c elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                    data-id="b67194c" data-element_type="widget"
                                    data-widget_type="icon.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-wrapper">
                                            <div class="elementor-icon">
                                                <a href="https://shopbot.page.link/dtvgEjzP8GwgP5w87">
                                                    <i aria-hidden="true" class="fab fa-google-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-a427a1f elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                    data-id="a427a1f" data-element_type="widget"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-clock"></i> </span>
                                                <span class="elementor-icon-list-text">Available 24 /7 to answer
                                                    your queries</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-6a71344 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="6a71344" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b881fc"
                            data-id="2b881fc" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-90b131a elementor-widget elementor-widget-text-editor"
                                    data-id="90b131a" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        Copyright © Shopbot 2023. All rights reserved. </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b60ef61"
                            data-id="b60ef61" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-c082a8b elementor-shape-circle e-grid-align-right e-grid-align-tablet-right e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                    data-id="c082a8b" data-element_type="widget"
                                    data-widget_type="social-icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-social-icons-wrapper elementor-grid">
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-shrink elementor-repeater-item-c0163ab"
                                                    target="_blank" href="https://www.facebook.com/shopbot.africa">
                                                    <span class="elementor-screen-only">Facebook-f</span>
                                                    <i class="fab fa-facebook-f"></i> </a>
                                            </span>
                                            <!--
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-310ab07"
                                                    target="_blank">
                                                    <span class="elementor-screen-only">Twitter</span>
                                                    <i class="fab fa-twitter"></i> </a>
                                            </span>
                                            -->
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-63f86db"
                                                    target="_blank" href="https://instagram.com/shopbot.africa?igshid=YmMyMTA2M2Y=">
                                                    <span class="elementor-screen-only">Instagram</span>
                                                    <i class="fab fa-instagram"></i> </a>
                                            </span>
                                            <!--
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-shrink elementor-repeater-item-d54d883"
                                                    target="_blank">
                                                    <span class="elementor-screen-only">Youtube</span>
                                                    <i class="fab fa-youtube"></i> </a>
                                            </span>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>