<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class='footer-width-fixer'>
        <div data-elementor-type="wp-post" data-elementor-id="452" class="elementor elementor-452">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-b889710 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="b889710" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-468941f"
                        data-id="468941f" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-0b610fe elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="0b610fe" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-be5357e"
                                        data-id="be5357e" data-element_type="column"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-726cb98 elementor-widget elementor-widget-image"
                                                data-id="726cb98" data-element_type="widget"
                                                data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="800" height="145"
                                                        src="assets/images/logo-white-1024x186.png"
                                                        class="attachment-large size-large" alt="" loading="lazy" />
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-2bf981c elementor-widget elementor-widget-text-editor"
                                                data-id="2bf981c" data-element_type="widget"
                                                data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    At shopbot we connect customers and vendors. Get your product delivered to you via our riders.     
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-6525f67 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="6525f67" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true"
                                                                    class="fas fa-map-marker-alt"></i> </span>
                                                            <span class="elementor-icon-list-text">4th Floor, Transparency Building, Beside CBN, Oxbowlake Road, Yenegoa, Nigeria</span>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">(+234) 704 412 1168</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d68b353"
                                        data-id="d68b353" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-55a591c elementor-widget elementor-widget-heading"
                                                data-id="55a591c" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">
                                                        Quick Links</h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bfd4a67 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="bfd4a67" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="about-us">

                                                                <span class="elementor-icon-list-text">About
                                                                    Us</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="create-merchant">

                                                                <span class="elementor-icon-list-text">Become a
                                                                    Vendor</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="https://forms.gle/kUhh9zvZ32AdSESSA">

                                                                <span class="elementor-icon-list-text">Become a Rider</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ba58f6a"
                                        data-id="ba58f6a" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-d6c577a elementor-widget elementor-widget-heading"
                                                data-id="d6c577a" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">
                                                        Useful Links</h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d7eed77 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="d7eed77" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="privacy-policy">

                                                                <span class="elementor-icon-list-text">Privacy
                                                                    Policy</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8be9631"
                                        data-id="8be9631" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b1b9c5d elementor-widget elementor-widget-heading"
                                                data-id="b1b9c5d" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">
                                                        Download The App

                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-a5aead3 elementor-widget elementor-widget-text-editor"
                                                data-id="a5aead3" data-element_type="widget"
                                                data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    Our app is available on both IOS and Android.    
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d981cf9 elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                data-id="d981cf9" data-element_type="widget"
                                                data-widget_type="icon.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-wrapper">
                                                        <div class="elementor-icon">
                                                            <a href="https://shopbot.page.link/dtvgEjzP8GwgP5w87"><i aria-hidden="true" class="fab fa-apple"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-b0da3f9 elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                data-id="b0da3f9" data-element_type="widget"
                                                data-widget_type="icon.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-wrapper">
                                                        <div class="elementor-icon">
                                                            <a href="https://shopbot.page.link/dtvgEjzP8GwgP5w87"><i aria-hidden="true" class="fab fa-google-play"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-93e7edf elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="93e7edf" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-clock"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">Available 24
                                                                /7 to answer your queries</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-f330c1a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="f330c1a" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bfb7afb"
                                        data-id="bfb7afb" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-394cd0e elementor-widget elementor-widget-text-editor"
                                                data-id="394cd0e" data-element_type="widget"
                                                data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    Copyright © Shopbot 2023. All rights reserved. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-da9384b"
                                        data-id="da9384b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-20c1578 elementor-shape-circle e-grid-align-right e-grid-align-tablet-right e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                                data-id="20c1578" data-element_type="widget"
                                                data-widget_type="social-icons.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-social-icons-wrapper elementor-grid">
                                                        <span class="elementor-grid-item social-space">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-shrink elementor-repeater-item-c0163ab"
                                                                target="_blank" href="https://www.facebook.com/shopbot.africa">
                                                                <span
                                                                    class="elementor-screen-only">Facebook-f</span>
                                                                <i class="fab fa-facebook-f"></i> </a>
                                                        </span>
                                                        <!--
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-310ab07"
                                                                target="_blank">
                                                                <span class="elementor-screen-only">Twitter</span>
                                                                <i class="fab fa-twitter"></i> </a>
                                                        </span>
                                                        -->
                                                        <span class="elementor-grid-item social-space">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-63f86db"
                                                                target="_blank" href="https://instagram.com/shopbot.africa">
                                                                <span class="elementor-screen-only">Instagram</span>
                                                                <i class="fab fa-instagram"></i> </a>
                                                        </span>
                                                        <!--
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-shrink elementor-repeater-item-d54d883"
                                                                target="_blank">
                                                                <span class="elementor-screen-only">Youtube</span>
                                                                <i class="fab fa-youtube"></i> </a>
                                                        </span>
                                                        -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
