<app-about-header></app-about-header>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h3>Get started selling</h3>
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name" placeholder="John Doe">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" placeholder="johndoe@mail.com">
    </div>
    <div>
      <label>Phone Number:</label>
      <input type="text" formControlName="phoneNumber" placeholder="09012345678">
    </div>
    <div>
      <label>Gender:</label>
      <select formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password" placeholder="Strongpassword123">
    </div>
    <button type="submit" [disabled]="!form.valid" (click)="submitForm()">Submit</button>
</form>

<app-about-footer></app-about-footer>