<app-about-header></app-about-header>
<form *ngIf="showFirstForm" [formGroup]="firstForm" (ngSubmit)="submitFirstForm()">
  <h3>Get started selling</h3>
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label>Phone Number:</label>
      <input type="text" formControlName="phoneNumber">
    </div>
    <div>
      <label>Gender:</label>
      <select formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password">
    </div>
    <button type="submit">Submit</button>
</form>

<form *ngIf="!showFirstForm" [formGroup]="secondForm" (ngSubmit)="submitSecondForm()">
  <div>
    <label>Name:</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
  </div>
  <div>
    <label>Country:</label>
    <input type="text" formControlName="country">
  </div>
  <div formGroupName="contactInfo">
    <h3>Contact Info</h3>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label>Phone:</label>
      <input type="text" formControlName="phone">
    </div>
    <div>
      <label>Place Name:</label>
      <input type="text" formControlName="placeName">
    </div>
    <div>
      <label>Place Number:</label>
      <input type="text" formControlName="placeNumber">
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<app-about-footer></app-about-footer>