<div id="page" class="hfeed site">

    <header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
        <p class="main-title bhf-hidden" itemprop="headline"><a href="https://templatekit.jegtheme.com/Shopbot"
                title="Shopbot" rel="home">Shopbot</a></p>
        <div data-elementor-type="wp-post" data-elementor-id="545" class="elementor elementor-545">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-85413f0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="85413f0" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f829533"
                        data-id="f829533" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-a39b95d elementor-widget elementor-widget-image"
                                data-id="a39b95d" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img width="800" height="145" src="assets/images/logo-white-1024x186.png"
                                        class="attachment-large size-large" alt="" loading="lazy" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-199a6f2"
                        data-id="199a6f2" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-5d569e6 elementor-widget elementor-widget-jkit_nav_menu"
                                data-id="5d569e6" data-element_type="widget" data-widget_type="jkit_nav_menu.default">
                                <div class="elementor-widget-container">
                                    <div class="jeg-elementor-kit jkit-nav-menu break-point-tablet submenu-click-title jeg_module_468__63303a9abfa79"
                                        data-item-indicator="&lt;i aria-hidden=&quot;true&quot; class=&quot;jki jki-chevron-down-line&quot;&gt;&lt;/i&gt;">
                                        <button class="jkit-hamburger-menu"><i aria-hidden="true"
                                                class="jki jki-bars-solid"></i></button>
                                        <div class="jkit-menu-wrapper">
                                            <div class="jkit-menu-container">
                                                <ul id="menu-menu-1"
                                                    class="jkit-menu jkit-menu-direction-flex jkit-submenu-position-top">
                                                    <li id="menu-item-698"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-698">
                                                        <a href="/">Home</a>
                                                    </li>
                                                    <li id="menu-item-699"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-468 menu-item-699">
                                                        <a href="/about-us" aria-current="page">About Us</a>
                                                    </li>
                                                    <li id="menu-item-6"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-6">
                                                        <a href="#">Pages</a>
                                                        <ul class="sub-menu">
                                                            <li id="menu-item-1426"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page current_page_item menu-item-1426">
                                                                <a href="/services">Services</a>
                                                            </li>
                                                            <li id="menu-item-702"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                                                <a href="partner.html">Become
                                                                    A Partner</a>
                                                            </li>
                                                            <li id="menu-item-701"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701">
                                                                <a href="our-team.html">Our
                                                                    Team</a>
                                                            </li>
                                                            <li id="menu-item-1425"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425">
                                                                <a href="pricing.html">Pricing</a>
                                                            </li>
                                                            <li id="menu-item-700"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700">
                                                                <a href="faq.html">FAQ</a>
                                                            </li>
                                                            <li id="menu-item-860"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860">
                                                                <a href="404.html">404
                                                                    Page</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-7"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7">
                                                        <a href="#">Blog</a>
                                                        <ul class="sub-menu">
                                                            <li id="menu-item-861"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-861">
                                                                <a href="blog.html">Blog</a>
                                                            </li>
                                                            <li id="menu-item-870"
                                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-870">
                                                                <a href="">Single
                                                                    Blog</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-728"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-728">
                                                        <a href="contact.html">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="jkit-nav-identity-panel">
                                                <div class="jkit-nav-site-title"><a href="/" class="jkit-nav-logo"><img
                                                            src="assets/images/logo2.png"></a>
                                                </div>
                                                <button class="jkit-close-menu"><i aria-hidden="true"
                                                        class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div class="jkit-overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8e69739 elementor-hidden-tablet elementor-hidden-phone"
                        data-id="8e69739" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-418e312 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                data-id="418e312" data-element_type="widget" data-widget_type="icon-list.default">
                                <div class="elementor-widget-container">
                                    <ul class="elementor-icon-list-items">
                                        <li class="elementor-icon-list-item">
                                            <span class="elementor-icon-list-icon">
                                                <i aria-hidden="true" class="fas fa-phone-alt"></i> </span>
                                            <span class="elementor-icon-list-text">(+62)81 238 1991</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <div data-elementor-type="wp-page" data-elementor-id="468" class="elementor elementor-468">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-9112458 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="9112458" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;https:\/\/www.youtube.com\/watch?v=ymXvYeVBbbw&quot;,&quot;background_video_start&quot;:131,&quot;background_video_end&quot;:142}">
            <div class="elementor-background-video-container elementor-hidden-phone">
                <div class="elementor-background-video-embed"></div>
            </div>
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-694a937"
                    data-id="694a937" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-8abd604 elementor-widget elementor-widget-heading"
                            data-id="8abd604" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7025a16"
                    data-id="7025a16" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-f495119 elementor-align-right elementor-icon-list--layout-inline elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                            data-id="f495119" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items elementor-inline-items">
                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <span class="elementor-icon-list-text">Home</span>
                                    </li>
                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <span class="elementor-icon-list-icon">
                                            <i aria-hidden="true" class="fas fa-chevron-right"></i> </span>
                                        <span class="elementor-icon-list-text">Pages</span>
                                    </li>

                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <span class="elementor-icon-list-icon">
                                            <i aria-hidden="true" class="fas fa-chevron-right"></i> </span>
                                        <span class="elementor-icon-list-text">Services</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
        <div class='footer-width-fixer'>
            <div data-elementor-type="wp-post" data-elementor-id="452" class="elementor elementor-452">
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-b889710 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="b889710" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-468941f"
                            data-id="468941f" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-0b610fe elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="0b610fe" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-be5357e"
                                            data-id="be5357e" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-726cb98 elementor-widget elementor-widget-image"
                                                    data-id="726cb98" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img width="800" height="145"
                                                            src="assets/images/logo-white-1024x186.png"
                                                            class="attachment-large size-large" alt="" loading="lazy" />
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2bf981c elementor-widget elementor-widget-text-editor"
                                                    data-id="2bf981c" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6525f67 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                    data-id="6525f67" data-element_type="widget"
                                                    data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true"
                                                                        class="fas fa-map-marker-alt"></i> </span>
                                                                <span class="elementor-icon-list-text">Jl. Oberoi X
                                                                    69, Kuta - 80234</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">(+62)81 238
                                                                    1991</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d68b353"
                                            data-id="d68b353" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-55a591c elementor-widget elementor-widget-heading"
                                                    data-id="55a591c" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">
                                                            Quick Links</h4>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-bfd4a67 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                    data-id="bfd4a67" data-element_type="widget"
                                                    data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <a href="/about-us">

                                                                    <span class="elementor-icon-list-text">About
                                                                        Us</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">Become A
                                                                        Partner</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">Our
                                                                        Team</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">Blog</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span
                                                                        class="elementor-icon-list-text">Contact</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ba58f6a"
                                            data-id="ba58f6a" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-d6c577a elementor-widget elementor-widget-heading"
                                                    data-id="d6c577a" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">
                                                            Useful Links</h4>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-d7eed77 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                    data-id="d7eed77" data-element_type="widget"
                                                    data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">Privacy
                                                                        Policy</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">Terms and
                                                                        Conditions</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span
                                                                        class="elementor-icon-list-text">Disclaimer</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span
                                                                        class="elementor-icon-list-text">Support</span>
                                                                </a>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <a href="#">

                                                                    <span class="elementor-icon-list-text">FAQ</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8be9631"
                                            data-id="8be9631" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-b1b9c5d elementor-widget elementor-widget-heading"
                                                    data-id="b1b9c5d" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">
                                                            Download The App

                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-a5aead3 elementor-widget elementor-widget-text-editor"
                                                    data-id="a5aead3" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod </div>
                                                </div>
                                                <div class="elementor-element elementor-element-d981cf9 elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                    data-id="d981cf9" data-element_type="widget"
                                                    data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i aria-hidden="true" class="fab fa-apple"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b0da3f9 elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                    data-id="b0da3f9" data-element_type="widget"
                                                    data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i aria-hidden="true" class="fab fa-google-play"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-93e7edf elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                    data-id="93e7edf" data-element_type="widget"
                                                    data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fas fa-clock"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Available 24
                                                                    /7 to answer your queries</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-f330c1a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="f330c1a" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bfb7afb"
                                            data-id="bfb7afb" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-394cd0e elementor-widget elementor-widget-text-editor"
                                                    data-id="394cd0e" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        Copyright © Shopbot 2021. All rights reserved. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-da9384b"
                                            data-id="da9384b" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-20c1578 elementor-shape-circle e-grid-align-right e-grid-align-tablet-right e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                                    data-id="20c1578" data-element_type="widget"
                                                    data-widget_type="social-icons.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-social-icons-wrapper elementor-grid">
                                                            <span class="elementor-grid-item">
                                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-shrink elementor-repeater-item-c0163ab"
                                                                    target="_blank">
                                                                    <span
                                                                        class="elementor-screen-only">Facebook-f</span>
                                                                    <i class="fab fa-facebook-f"></i> </a>
                                                            </span>
                                                            <span class="elementor-grid-item">
                                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-310ab07"
                                                                    target="_blank">
                                                                    <span class="elementor-screen-only">Twitter</span>
                                                                    <i class="fab fa-twitter"></i> </a>
                                                            </span>
                                                            <span class="elementor-grid-item">
                                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-63f86db"
                                                                    target="_blank">
                                                                    <span class="elementor-screen-only">Instagram</span>
                                                                    <i class="fab fa-instagram"></i> </a>
                                                            </span>
                                                            <span class="elementor-grid-item">
                                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-shrink elementor-repeater-item-d54d883"
                                                                    target="_blank">
                                                                    <span class="elementor-screen-only">Youtube</span>
                                                                    <i class="fab fa-youtube"></i> </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </footer>
</div>