form {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    form {
      width: 90%;
    }
  }
  
  input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
    cursor: pointer;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px #333;
  }

  button[type="submit"]:disabled {
    background-color: grey;
    color: lightgrey;
    cursor: not-allowed;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  height: 200px; /* add this to make the textarea longer */
}