<app-about-header></app-about-header>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h3>Create store</h3>
  <div>
    <label>Store Name:</label>
    <input type="text" formControlName="name" placeholder="John's Shop">
  </div>
  <div>
    <label>Description:</label>
    <textarea formControlName="description" placeholder="Add shop description"></textarea>
  </div>
  <div>
    <label>Country:</label>
    <select formControlName="country">
      <option value="Nigeria">Nigeria</option>
      <option value="Mauritius">Mauritius</option>
    </select>
  </div>
  <div>
    <label>Category:</label>
    <select formControlName="category">
      <option value="5eccfc6030e2796db7a939a1">Restaurants</option>
      <option value="63c76fc1cc9975d2cbf3da7a">Groceries</option>
      <option value="63d0d5a92ea8f49ad78c260c">Pet Supplies</option>
      <option value="63d0d5c32ea8f49ad78c260d">Pharmcy</option>
    </select>
  </div>
  <mat-search-google-maps-autocomplete formControlName="address">
  </mat-search-google-maps-autocomplete>
  <div formGroupName="contactInfo">
    <div>
      <label>Address details:</label>
      <input type="text" formControlName="placeName" placeholder="Add your precise address">
    </div>
    <div>
      <label>Address number:</label>
      <input type="text" formControlName="placeNumber" placeholder="Add your address number">
    </div>
    <div>
      <label>Store Email:</label>
      <input type="email" formControlName="email" placeholder="JohnShop@mail.com">
    </div>
    <div>
      <label>Store Phone number:</label>
      <input type="text" formControlName="phone" placeholder="add shop number">
    </div>
  </div>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
<app-about-footer></app-about-footer>
