<div id="page" class="hfeed site">

    <header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
        <p class="main-title bhf-hidden" itemprop="headline"><a href="https://templatekit.jegtheme.com/Shopbot"
                title="Shopbot" rel="home">Shopbot</a></p>
        <div data-elementor-type="wp-post" data-elementor-id="545" class="elementor elementor-545">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-85413f0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="85413f0" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f829533"
                        data-id="f829533" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-a39b95d elementor-widget elementor-widget-image"
                                data-id="a39b95d" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img width="800" height="145" src="assets/images/logo-white-1024x186.png"
                                        class="attachment-large size-large" alt="" loading="lazy" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </header>

    <div class="loader">
        <div class="loader::before"></div>
        <p>Please wait, your payment is being processed.</p>
    </div>    
</div>
