<header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
    <p class="main-title bhf-hidden" itemprop="headline"><a href="https://templatekit.jegtheme.com/Shopbot"
            title="Shopbot" rel="home">Shopbot</a></p>
    <div data-elementor-type="wp-post" data-elementor-id="545" class="elementor elementor-545">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-85413f0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="85413f0" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f829533"
                    data-id="f829533" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a39b95d elementor-widget elementor-widget-image"
                            data-id="a39b95d" data-element_type="widget" data-widget_type="image.default">
                            <a href="/">
                                <div class="elementor-widget-container">
                                    <img width="800" height="145" src="assets/images/logo-white-1024x186.png"
                                        class="attachment-large size-large" alt="" loading="lazy" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-199a6f2"
                    data-id="199a6f2" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-5d569e6 elementor-widget elementor-widget-jkit_nav_menu"
                            data-id="5d569e6" data-element_type="widget" data-widget_type="jkit_nav_menu.default">
                            <div class="elementor-widget-container">
                                <div class="jeg-elementor-kit jkit-nav-menu break-point-tablet submenu-click-title jeg_module_468__63303a9abfa79"
                                    data-item-indicator="&lt;i aria-hidden=&quot;true&quot; class=&quot;jki jki-chevron-down-line&quot;&gt;&lt;/i&gt;">
                                   <!-- <button class="jkit-hamburger-menu"><i aria-hidden="true"
                                            class="jki jki-bars-solid"></i></button>
                                            -->
                                    <div class="jkit-menu-wrapper">
                                        <div class="jkit-menu-container">
                                            <ul id="menu-menu-1"
                                                class="jkit-menu jkit-menu-direction-flex jkit-submenu-position-top">
                                                <!--
                                                <li id="menu-item-698"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-698">
                                                    <a href="/">Home</a>
                                                </li>
                                                <li id="menu-item-699"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-468 current_page_item menu-item-699">
                                                    <a href="/about-us" aria-current="page">About Us</a>
                                                </li>
                                                <li id="menu-item-6"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6">
                                                    <a href="#">Pages</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-1426"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426">
                                                            <a href="services.html">Services</a>
                                                        </li>
                                                        <li id="menu-item-702"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                                            <a href="partner.html">Become
                                                                A Partner</a>
                                                        </li>
                                                        <li id="menu-item-701"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701">
                                                            <a href="our-team.html">Our
                                                                Team</a>
                                                        </li>
                                                        <li id="menu-item-1425"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425">
                                                            <a href="pricing.html">Pricing</a>
                                                        </li>
                                                        <li id="menu-item-700"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700">
                                                            <a href="faq.html">FAQ</a>
                                                        </li>
                                                        <li id="menu-item-860"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860">
                                                            <a href="404.html">404
                                                                Page</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-7"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7">
                                                    <a href="#">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-861"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-861">
                                                            <a href="blog.html">Blog</a>
                                                        </li>
                                                        <li id="menu-item-870"
                                                            class="menu-item menu-item-type-post_type menu-item-object-post menu-item-870">
                                                            <a href="">Single
                                                                Blog</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-728"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-728">
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                                -->
                                            </ul>
                                        </div>
                                        <div class="jkit-nav-identity-panel">
                                            <div class="jkit-nav-site-title"><a href="/" class="jkit-nav-logo"><img
                                                        src="assets/images/logo2.png"></a>
                                            </div>
                                            <button class="jkit-close-menu"><i aria-hidden="true"
                                                    class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="jkit-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8e69739 elementor-hidden-tablet elementor-hidden-phone"
                    data-id="8e69739" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-418e312 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                            data-id="418e312" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i> </span>
                                        <span class="elementor-icon-list-text"> (+234)704 412 1168</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>